<% provide :title, @project.name %>
<div class="row board-main-content">
  <div class="board-canvas">
    <div id="board">
      <% @tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  </div>
</div>
