.board-wrapper {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.board-main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: margin .1s ease-in;
}
.board-canvas {
  position: relative;
  flex-grow: 1;
  height: 100%;
}
#board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.list {
  background-color: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}
.list-wrapper {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.list-wrapper:last-child {
  margin-right: 8px;
}

.list-wrapper:first-child {
  margin-left: 8px;
}
.list-header.is-menu-shown, .list-header.is-subscribe-shown {
  padding-right: 36px;
}
.list-header {
  flex: 0 0 auto;
  padding: 10px 8px 8px;
  position: relative;
  min-height: 20px;
}
.list-header-target {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.list-header-name-assist {
  display: none;
}
.list-header textarea {
  resize: none;
}
textarea.mod-list-name {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 700;
  margin: -4px 0;
  min-height: 20px;
  padding: 4px 7px;
  resize: none;
  max-height: 256px;
}
.list-header-extras {
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 1;
}
.list-header-extras-menu {
  border-radius: 3px;
  float: left;
}
.icon-lg, .icon-sm {
  color: #798d99;
}
.icon-lg {
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  width: 32px;
}
.icon-lg, .icon-sm {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
.list-header-num-cards:not(.hide) {
}
.list-header-num-cards {
  color: #6b808c;
  margin: 0 8px;
}
.list-cards {
  flex: 1 1 auto;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
  z-index: 1;
  min-height: 0;
  max-height: 100%;
}
.list-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
.list-card-cover {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.list-card-operation {
  background-color: #f5f6f7;
  background-clip: padding-box;
  background-origin: padding-box;
  border-radius: 3px;
  opacity: .8;
  padding: 4px;
  position: absolute;
  right: 2px;
  top: 2px;
  visibility: hidden;
  z-index: 40;
}
.icon-lg, .icon-sm {
  color: #798d99;
}
.icon-sm {
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  width: 20px;
}
.icon-lg, .icon-sm {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}
.list-card-stickers-area {
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
}
.list-card-stickers-area .stickers {
  height: 155px;
  position: relative;
  width: 100%;
}
.list-card-details {
  overflow: hidden;
  padding: 6px 8px 2px;
  position: relative;
  z-index: 10;
  min-height: 65px;
  max-height: 80px;
}
.list-card-labels:empty {
  display: none;
  margin: 0;
}

.list-card-labels {
  overflow: auto;
  position: relative;
}
.list-card-title {
  clear: both;
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  word-wrap: break-word;
  color: #17394d;
}
.list-name {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 30px;
}
.badges {
  float: left;
  max-width: 100%;
  margin-left: -2px;
}
.badge, .badge-icon, .badge-text {
  vertical-align: top;
}
.badge {
  color: #6b808c;
  display: inline-block;
  margin: 0 4px 4px 0;
  max-width: 100%;
  min-height: 20px;
  overflow: hidden;
  position: relative;
  padding: 2px;
  text-decoration: none;
  text-overflow: ellipsis;
}
.icon-lg, .icon-sm {
  color: #798d99;
}
.icon-sm {
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  width: 20px;
}
.list-card-members {
  float: right;
  margin: 0 -2px 0 0;
}
.list-card-members:empty {
  display: none;
}
.open-card-composer {
  border-radius: 0 0 3px 3px;
  background-color: #c2c8cf;
  color: #6b808c;
  display: block;
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
